/*
font-family: 'Montserrat', sans-serif;
font-family: 'Inconsolata', monospace;
*/


header{
  header {
  min-height: 80vh;
  background-image: url('styles/bgheader.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
}


/*
Brown : #4F4444;
White : #ffffff;
Grey 01 : #aaaaaa;
Grey 02 : #888888;
Turquoise : #9acbb5;
Dark Green : #334444;
red : #ff0303

font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif;
*/

/*
body {
  background-color : #fff;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', cursive;
  color : #000;
  text-align: center;
}

h1 {

}

a {
  color : #ff0303;
  transition: all 0.6s;
}

a:hover {
  color : #aaaaaa;
}

a::after {
  content: " >";

}

header {
  min-height: 80vh;
  background-image: url('images/bg-image-header.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {

}

.header-content-block {
  background: rgba(170,170,170,0.6);
  padding : 22px;
  text-align: center;
}

.header-content-block h1 {
  font-size: 4.25em;
}

#bio {
  min-height: 45vh;
  display: flex;
  align-items: center;
}

#bio h1 {
  display: none;
}

.bio-content-block {
  max-width: 960px;
  margin: 0 auto;
  columns: 2;
}

#comp {
  background-color: #9acbb5;
  color : #fff;
}

.comp-section-content {
 display: flex;
 justify-content: space-around;
}

.comp-content {
  background-color: #334444;
  width : auto;
  margin : 20px;
}

.comp-content p {
  padding: 1em;

}

.comp-content img {
  width : 100%;
}

.comp-content a {
  display: block;
  padding : 1em;
  float: right;
}

#portfolio {

}

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.portfolio-content-item {
  border: 2px solid #334444;
  max-width: 480px;
  margin : 20px;
  position : relative;
}

.portfolio-content-item h2 {
  position: absolute;
  top : 50%;
  left : 50%;
  border: 1px solid red;
}

.portfolio-content-item img {
  width : 100%;
}

footer {

}
*/
