/*
#3a0000
#843a3a
#ffdddd

font-family: 'Montserrat', sans-serif;
font-family: 'Inconsolata', monospace;
*/


body{
  background-color : #fff;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color : #000;
  text-align: center;
}

p{
  color: #3a0000;
}

a {
  color : #3a0000;
  transition: all 0.6s;
}

a:hover {
  color : #ffdddd;
}


header {
  min-height: 80vh;
  background-image: url('images/bg-image-header.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {

}

.header-content-block {
  background: rgba(255, 221, 221,0.6);
  padding : 35px;
  text-align: center;
}

.header-content-block h1 {
  font-size: 4.25em;
}

#bio {
  min-height: 45vh;
  display: flex;
  align-items: center;
}

#bio h1 {
  display: none;
}

.bio-content-block {
  max-width: 960px;
  margin: 0 auto;
  columns: 2;
  column-gap: 7em;
  padding: 3em;
}

#skills {
  background-color: #ffdddd;
  color : #fff;
}

#skills h2{
  padding-top: 1em;
  padding-bottom: 1em;
}

.skills-section-content {
 display: flex;
 justify-content: space-around;
}

.skills-content {
  background-color: #843a3a;
  max-width: 20em;
  min-width: 5em;
  width : auto;
  margin : 20px;
}

.skills-content p {
  padding: .5em;

}

.skills-content img {
  width : 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.skills-content img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.skills-content a {
  display: block;
  padding : .5em;
  float: right;
}

#skills h1{
  padding: 3em;
}

#portfolio h1{
  padding: 3em;
}

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.portfolio-content-item {
  max-width: 480px;
  margin : 20px;
  position : relative;
}

.portfolio-content-item h2 {
  position: absolute;
  text-align: center;
}

.portfolio-content-item img {
  width : 100%;
}

footer {
  background-color: #843a3a;
}

.social-links{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  text-decoration: none;
}
